In [4]:
from sumy.parsers.plaintext import PlaintextParser
from sumy.nlp.tokenizers import Tokenizer
from utils import retrieveMany

from sumy.summarizers.lex_rank import LexRankSummarizer
from sumy.summarizers.luhn import LuhnSummarizer
from sumy.summarizers.lsa import LsaSummarizer
from sumy.summarizers.text_rank import TextRankSummarizer
# from sumy.summarizers.edmundson import EdmundsonSummarizer

# from sumy.nlp.stemmers import Stemmer
# import re

# description = 'Inferior deities or demigods in polytheistic religion'

summarizers = [LexRankSummarizer, LuhnSummarizer, LsaSummarizer, TextRankSummarizer]


text = retrieveMany(3, 100, 102)
parser = PlaintextParser.from_string(text, Tokenizer('english'))

print('=========')
summary = LexRankSummarizer(parser.document, 2)
for sentence in summary:
    print(sentence)

=========

TypeError: __init__() takes from 1 to 2 positional arguments but 3 were given

In [ ]:
    # for Edmundson
# stemmer = Stemmer('english')
# summarizer = Summarizer(stemmer)
# description = ['deities', 'demigods', 'religion']
# summarizer.bonus_words = description
# summarizer.stigma_words = ['']
# summarizer.null_words = ['']

text = retrieveMany(3, 100, 102)
# text = text.split('.')[1:-1]
# text = '.'.join(text) + '.'
# text = re.sub('\[\d+\]\s', '', text)
# text = re.sub('\n', ' ', text)

for (method in methods)
parser = PlaintextParser.from_string(text, Tokenizer('english'))

summary = summarizer(parser.document, 2) 
for sentence in summary:
 print(sentence)

In [123]:
# import pandas as pd
# filename = '../data/csv/refs.csv'
# dic = pd.read_csv(filename, encoding='utf8')
# dic

,id,topic,subtopic,author,vol,alpha,omega,passage,notes
0,1,Angel,1,Homer,3.0,167,171,NaN,NaN
1,2,Angel,1,Homer,3.0,174,179,NaN,NaN
2,3,Angel,1,Homer,3.0,228,230,NaN,NaN
3,4,Angel,1,Homer,3.0,244,NaN,NaN,NaN
4,5,Angel,1,Homer,3.0,258,261,NaN,NaN
5,6,Angel,1,Homer,3.0,350,353,NaN,NaN
6,7,Angel,1,Homer,3.0,388,389,NaN,NaN
7,8,Angel,1,Aeschylus,4.0,40,53,NaN,NaN
8,9,Angel,1,Aeschylus,4.0,90,103,NaN,NaN
9,10,Angel,1,Sophocles,4.0,216,233,NaN,NaN
10,11,Angel,1,Euripides,4.0,275,276,NaN,NaN
11,12,Angel,1,Euripides,4.0,296,315,NaN,NaN
12,13,Angel,1,Euripides,4.0,316,333,NaN,NaN
13,14,Angel,1,Euripides,4.0,363,365,NaN,NaN
14,15,Angel,1,Euripides,4.0,383,406,NaN,NaN
15,16,Angel,1,Euripides,4.0,407,433,NaN,NaN
16,17,Angel,1,Euripides,4.0,472,493,NaN,NaN
17,18,Angel,1,Euripides,4.0,515,532,NaN,NaN
18,19,Angel,1,Aristophanes,4.0,748,769,NaN,NaN
19,20,Angel,1,Aristophanes,4.0,770,797,NaN,NaN
20,21,Angel,1,Aristophanes,4.0,798,823,NaN,NaN
21,22,Angel,1,Aristophanes,4.0,887,905,NaN,NaN
22,23,Angel,1,Herodotus,5.0,58,60,NaN,NaN
23,24,Angel,1,Herodotus,5.0,79,80,NaN,NaN
24,25,Angel,1,Herodotus,5.0,82,83,NaN,NaN
25,26,Angel,1,Plato,6.0,44,45,NaN,NaN
26,27,Angel,1,Plato,6.0,92,97,NaN,NaN
27,28,Angel,1,Plato,6.0,122,125,NaN,passim
28,29,Angel,1,Plato,6.0,130,131,NaN,NaN
29,30,Angel,1,Plato,6.0,152,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
96201,96202,World,8,Bible,2.0,NaN,NaN,Acts 2:17-21,NaN
96202,96203,World,8,Bible,2.0,NaN,NaN,1 Corinthians 7:29-31,NaN
96203,96204,World,8,Bible,2.0,NaN,NaN,1 Thessalonians 4:15-5:4,NaN
96204,96205,World,8,Bible,2.0,NaN,NaN,2 Peter 3:7-13,NaN
96205,96206,World,8,Bible,2.0,NaN,NaN,1 John 2:18-19,NaN
96206,96207,World,8,Bible,2.0,NaN,NaN,Jude,NaN
96207,96208,World,8,Bible,2.0,NaN,NaN,Revelation,NaN
96208,96209,World,8,Aristotle,8.0,234,235,NaN,NaN
96209,96210,World,8,Lucretius,11.0,60,NaN,NaN,NaN
96210,96211,World,8,Lucretius,11.0,62,64,NaN,NaN
96211,96212,World,8,Augustine,16.0,572,573,NaN,NaN
96212,96213,World,8,Augustine,16.0,600,632,NaN,NaN
96213,96214,World,8,Aquinas,18.0,922,935,NaN,NaN
96214,96215,World,8,Aquinas,18.0,945,946,NaN,NaN
96215,96216,World,8,Aquinas,18.0,1002,1004,NaN,NaN
96216,96217,World,8,Aquinas,18.0,1016,1025,NaN,NaN
96217,96218,World,8,Hobbes,21.0,230,NaN,NaN,NaN
96218,96219,World,8,Hobbes,21.0,244,NaN,NaN,NaN
96219,96220,World,8,Milton,29.0,141,143,NaN,NaN
96220,96221,World,8,Milton,29.0,220,NaN,NaN,NaN
96221,96222,World,8,Milton,29.0,300,301,NaN,NaN
96222,96223,World,8,Gibbon,37.0,187,188,NaN,NaN
96223,96224,World,8,Gibbon,38.0,233,NaN,NaN,NaN
96224,96225,World,8,"James, William",55.0,22,23,NaN,NaN
96225,96226,World,8,Barth,55.0,476,477,NaN,NaN
96226,96227,World,8,Barth,55.0,541,NaN,NaN,NaN
96227,96228,World,8,Barth,55.0,549,550,NaN,NaN
96228,96229,World,8,Eddington,56.0,273,NaN,NaN,NaN
96229,96230,World,8,Eddington,56.0,283,284,NaN,NaN
96230,96231,World,8,Eddington,56.0,294,295,NaN,NaN